h3{
    text-align: center;
    justify-self: flex-start;
    position: relative;
    top: -100%;
    width: 100%;
    color: rgb(0, 0, 0);
}

.pokemon-types{
    display: flex;
    justify-content: first baseline;
    align-items: first baseline;
    width: 43%; 
    height: 28%; 
    border-Radius: 15px;
}