body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

}

.card-header {
  top: 50%;
  display: flex;
  justify-content: center;
  width: 75%;
  height: 75%;
}

.atropos{
  position: absolute;
  width: 100%;
  height: 100%;

}

.atropos-shadow {
  filter: blur(10px) !important;
  transform: translate3d(0px, 0px, -3px) scale(0.9) !important ;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  gap: 16px; /* Adjust the gap as needed */
  justify-content: center; /* Center align the grid horizontally */
}